* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html 
{
  scroll-behavior: smooth;
}

body 
{
  font-family: "Arsenal SC", sans-serif;
  background-color: rgb(16, 18, 24);
}

.underline img 
{
  opacity: 30%;
}

h1
{
  display: none;
}